body{
	direction: rtl;
    background-image: linear-gradient(to right, #c5b2fae0, #eea722b6);
}
.grid{
    display: grid;
    /* align-content: center; */
	grid-template-areas: 'list1 list2';
}
.list{
    /* display: grid; */
    grid-area: list1;
    font-size: 20px;
    color: chocolate;
    background-color: cornsilk;
    width: 100px;
    border: rgb(156, 36, 36) 1px;
    border-style: solid;
    margin: 10px;
}
.list2{
    /* display: grid; */
    grid-area: list2;
    font-size: 20px;
    color: chocolate;
    background-color: cornsilk;
    width: 150px;
    height: 250px;
    border: rgb(156, 36, 36) 1px;
    border-style: solid;
    margin: 10px;
}
.ltr{
    direction: ltr;
    font-size: 30px;
     
}
.font{
    font-size: 30px;
}