body {
  direction: rtl;
  text-align: right;
  font-family: "Nazli", Geneva, sans-serif;
  font-size: 1.1em;
  background-color: #e2ae1d;
  display: grid;
}
div {
  padding-top: 20px;
  padding-right: 20px;
}
